.clerk-design-component-aWI21dHI{
    max-width:100%;;
    min-height:30px;
    max-height:180px;;
    height:125px;
    margin-bottom:10px;;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:contain;
}
 @media screen and (max-width: 480px) {
 .clerk-design-component-aWI21dHI{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-aWI21dHI{
}
 }


.clerk-design-component-tHU7GMRK{
    width:100%;
    text-align:center;
    border-bottom:1px solid;
    line-height:0.1em;
    margin:10px 0 20px;
    color:#828d99;
    font-size:22px;
    font-weight:;
    background-color:;
    justify-content:center;
    display:flex;
    align-items:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-tHU7GMRK{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-tHU7GMRK{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
}
 }


.clerk-design-component-Wz7YXI8O{
    color:black;
    width:100%;
    text-align:center;
    border-bottom:1px solid;
    line-height:0.1em;
    margin:10px 0 20px;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-Wz7YXI8O{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-Wz7YXI8O{
}
 }


.clerk-design-component-xLR9oixy{
    font-size:30px;
    min-height:30px;
    color:#1e3147;
    font-weight:normal;
    text-align:center;
    overflow:hidden;
    height:;
    background-color:;
    justify-content:center;
    display:flex;
    align-items:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-xLR9oixy{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-xLR9oixy{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }


.clerk-design-component-OPDiZRjJ{
    font-size:22px;
    color:#828d99;
    border-bottom:1px solid;
    width:100%;
    font-weight:;
    margin:10px 0 20px;
    line-height:0.1em;
    text-align:center;
    background-color:;
    justify-content:center;
    display:flex;
    align-items:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-OPDiZRjJ{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-OPDiZRjJ{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
}
 }


.clerk-design-component-cpAleT96{
    color:black;
    border-bottom:1px solid;
    width:100%;
    margin:10px 0 20px;
    line-height:0.1em;
    text-align:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-cpAleT96{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-cpAleT96{
}
 }


.clerk-design-component-cOYHa8oT{
}
 @media screen and (max-width: 480px) {
 .clerk-design-component-cOYHa8oT{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-cOYHa8oT{
}
 }


.clerk-design-component-h67l6gS0{
    background-size:contain;
    background-repeat:no-repeat;
    margin-bottom:2em;
    height:15.25em;
    max-width:100%;;
    background-position:center center;
}
 @media screen and (max-width: 480px) {
 .clerk-design-component-h67l6gS0{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-h67l6gS0{
}
 }


.clerk-design-component-EW5DlDAE{
    padding:1em;
    margin:1em;
    display:inline-block;
    background-color:inherit;
}
 @media screen and (max-width: 480px) {
 .clerk-design-component-EW5DlDAE{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-EW5DlDAE{
}
 }


.clerk-design-component-4qlp8ctV{
    font-size:22px;
    color:#25282b;
    height:;
    overflow:hidden;
    font-weight:normal;
    text-align:inherit;
    background-color:;
    display:flex;
    align-items:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-4qlp8ctV{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-4qlp8ctV{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }


.clerk-design-component-H6OMtMsr{
    font-size:inherit;
    color:#1e3147;
    height:;
    overflow:hidden;
    font-weight:normal;
    text-align:inherit;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-H6OMtMsr{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-H6OMtMsr{
}
 }


.clerk-design-component-xOyKENJR{
    opacity:.8em;
    font-size:inherit;
    font-weight:normal;
    color:gray;
    height:intial;
    margin-right:.5em;
    text-decoration:line-through;
    display:inline-block;
    text-align:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-xOyKENJR{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-xOyKENJR{
}
 }


.clerk-design-component-sJcFTQfH{
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-sJcFTQfH{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-sJcFTQfH{
}
 }


.clerk-design-product-price {
    
    font-weight: bold;
}

.clerk-design-component-0k7Kr1I5{
    font-size:inherit;
    color:inherit;
    height:intial;
    margin-left:0px;
    font-weight:bold;
    display:flex;
    text-align:center;
    justify-content:start;
    align-items:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-0k7Kr1I5{
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-0k7Kr1I5{
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }


.clerk-design-component-6NNJ2Zzc{
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-6NNJ2Zzc{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-6NNJ2Zzc{
}
 }


.clerk-design-component-gnVSiTTr{
    color:rgb(6, 15, 25);
    font-size:1.2em;
    padding-right:8px;
    margin-top:24px;
}
 @media screen and (max-width: 480px) {
 .clerk-design-component-gnVSiTTr{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-gnVSiTTr{
}
 }


.clerk-design-component-J59BooZw{
    border-radius:.3em;
    padding:.6em 2em;
    font-size:.8em;
    color:white;
    border:none;
    cursor:pointer;
    margin-top:24px;
    max-width:200px;
    white-space:nowrap;
    font-weight:bold;
    text-transform:uppercase;
    display:flex;
    background-color:#2fa6d2;
    text-align:center;
    justify-content:center;
    align-items:center;
}
 @media screen and (max-width: 480px) {
 .clerk-design-component-J59BooZw{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
    border-radius:0em;
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-J59BooZw{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
    border-radius:0em;
}
 }


.clerk-design-component-cPnuQYDM{
    text-align:left;
}
 @media screen and (max-width: 480px) {
 .clerk-design-component-cPnuQYDM{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-cPnuQYDM{
}
 }


.clerk-design-component-GazEVPfv{
    color:inherit;
    width:100%;
    align:left;
    height:24em;
}
 @media screen and (max-width: 480px) {
 .clerk-design-component-GazEVPfv{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-GazEVPfv{
}
 }


.clerk-design-component-xv9R7Of7{
    font-size:22px;
    color:#828d99;
    border-bottom:1px solid;
    width:100%;
    font-weight:;
    margin:10px 0 20px;
    line-height:0.1em;
    text-align:center;
    background-color:;
    justify-content:center;
    display:flex;
    align-items:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-xv9R7Of7{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-xv9R7Of7{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
}
 }


.clerk-design-component-nlLJBr6w{
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-nlLJBr6w{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-nlLJBr6w{
}
 }


.clerk-design-component-esoqfLcU{
    font-size:26px;
    min-height:30px;
    color:#1e3147;
    font-weight:normal;
    text-align:center;
    overflow:hidden;
    height:;
    background-color:;
    justify-content:center;
    display:flex;
    align-items:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-esoqfLcU{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-esoqfLcU{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }


.clerk-design-component-orZUc0c2{
    font-size:22px;
    color:#828d99;
    border-bottom:1px solid;
    width:100%;
    font-weight:;
    margin:10px 0 20px;
    line-height:0.1em;
    text-align:center;
    background-color:;
    justify-content:center;
    display:flex;
    align-items:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-orZUc0c2{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-orZUc0c2{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
}
 }


.clerk-design-component-29EplxaU{
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-29EplxaU{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-29EplxaU{
}
 }


.clerk-design-component-6Ac5tfWw{
}
 @media screen and (max-width: 480px) {
 .clerk-design-component-6Ac5tfWw{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-6Ac5tfWw{
}
 }


.clerk-design-component-76CbwXCL{
    border-radius:5px;
    padding:1em;
    width:14em;
    position:relative;
    overflow:hidden;
    font-weight:bold;
    margin:1em;
    display:inline-block;
    background-color:white;
    text-align:center;
}
 @media screen and (max-width: 480px) {
 .clerk-design-component-76CbwXCL{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-76CbwXCL{
}
 }


.clerk-design-component-NjE3WuCy{
    background-size:contain;
    background-position:center center;
    background-repeat:no-repeat;
    margin-bottom:1em;
    margin-top:1em;
    max-width:100%;;
    height:125px;;
}
 @media screen and (max-width: 480px) {
 .clerk-design-component-NjE3WuCy{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-NjE3WuCy{
}
 }


.clerk-design-product-name {
    overflow: hidden;
    
    height: 2.6em;
    
    margin: 5px 10px;
}

.clerk-design-component-Di74IpwH{
    font-size:inherit;
    margin-bottom:1em;
    color:inherit;
    height:3em;
    overflow:hidden;
    font-weight:normal;
    text-align:inherit;
    background-color:;
    display:flex;
    align-items:end;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-Di74IpwH{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-Di74IpwH{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }


.clerk-design-component-c2zLEuGX{
    font-size:15px;
    text-align:center;
    color:black;
    font-weight:normal;
    height:intial;
    min-height:30px;
    justify-content:center;
    display:flex;
    align-items:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-c2zLEuGX{
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-c2zLEuGX{
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }


.clerk-design-component-PrTfYxJG{
    opacity:.8em;
    font-size:inherit;
    font-weight:normal;
    color:gray;
    height:intial;
    margin-right:.5em;
    text-decoration:line-through;
    display:inline-block;
    text-align:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-PrTfYxJG{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-PrTfYxJG{
}
 }


.clerk-design-component-CKQ6rXHu{
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-CKQ6rXHu{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-CKQ6rXHu{
}
 }


.clerk-design-component-LwVnIl3u{
    font-size:inherit;
    color:inherit;
    height:intial;
    margin-left:0px;
    font-weight:bold;
    display:inline-block;
    text-align:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-LwVnIl3u{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-LwVnIl3u{
}
 }


.clerk-design-component-RRN5dkV1{
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-RRN5dkV1{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-RRN5dkV1{
}
 }


.clerk-design-component-FaRIPmis{
}
 @media screen and (max-width: 480px) {
 .clerk-design-component-FaRIPmis{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-FaRIPmis{
}
 }


.clerk-design-component-i449Vlp0{
    border-radius:.3em;
    padding:.6em 2em;
    font-size:.8em;
    color:white;
    border:none;
    cursor:pointer;
    margin-top:24px;
    max-width:200px;
    white-space:nowrap;
    font-weight:bold;
    text-transform:uppercase;
    display:flex;
    background-color:#2fa6d2;
    text-align:center;
    justify-content:center;
    align-items:center;
}
 @media screen and (max-width: 480px) {
 .clerk-design-component-i449Vlp0{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
    border-radius:0em;
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-i449Vlp0{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
    border-radius:0em;
}
 }


.clerk-design-component-5m17ZnbF{
    text-align:center;
}
 @media screen and (max-width: 480px) {
 .clerk-design-component-5m17ZnbF{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-5m17ZnbF{
}
 }


.clerk-design-component-fk84lWBT{
}
 @media screen and (max-width: 480px) {
 .clerk-design-component-fk84lWBT{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-fk84lWBT{
}
 }


.clerk-design-component-L6TjhyQJ{
    font-size:22px;
    color:#828d99;
    border-bottom:1px solid;
    width:100%;
    font-weight:;
    margin:10px 0 20px;
    line-height:0.1em;
    text-align:center;
    background-color:;
    justify-content:center;
    display:flex;
    align-items:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-L6TjhyQJ{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-L6TjhyQJ{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
}
 }


.clerk-design-component-2xHAGrCN{
    color:black;
    border-bottom:1px solid;
    width:100%;
    margin:10px 0 20px;
    line-height:0.1em;
    text-align:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-2xHAGrCN{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-2xHAGrCN{
}
 }


.clerk-design-component-llV0oaVl{
    font-size:12px;
    min-height:30px;
    color:#1e3147;
    font-weight:normal;
    text-align:center;
    overflow:hidden;
    height:;
    background-color:;
    justify-content:center;
    display:flex;
    align-items:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-llV0oaVl{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-llV0oaVl{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }


.clerk-design-component-DPehsTLs{
    width:100%;
    text-align:center;
    border-bottom:1px solid;
    line-height:0.1em;
    margin:10px 0 20px;
    color:#828d99;
    font-size:22px;
    font-weight:;
    background-color:#ffffff;
    justify-content:center;
    display:flex;
    align-items:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-DPehsTLs{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-DPehsTLs{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
}
 }


.clerk-design-component-2AArjhRO{
    color:black;
    width:100%;
    text-align:center;
    border-bottom:1px solid;
    line-height:0.1em;
    margin:10px 0 20px;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-2AArjhRO{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-2AArjhRO{
}
 }


.clerk-design-component-fcefBWel{
    font-size:15px;
    min-height:30px;
    color:#1e3147;
    font-weight:normal;
    text-align:center;
    overflow:hidden;
    height:;
    background-color:;
    justify-content:center;
    display:flex;
    align-items:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-fcefBWel{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-fcefBWel{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }


.clerk-design-component-dQ2pekmb{
    font-size:13px;
    min-height:30px;
    color:#1e3147;
    font-weight:normal;
    text-align:center;
    overflow:hidden;
    height:;
    background-color:;
    justify-content:center;
    display:flex;
    align-items:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-dQ2pekmb{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-dQ2pekmb{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }


.clerk-design-component-vqtbIQ6K{
    font-size:13px;
    min-height:30px;
    color:#1e3147;
    font-weight:normal;
    text-align:center;
    overflow:hidden;
    height:;
    background-color:;
    justify-content:center;
    display:flex;
    align-items:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-vqtbIQ6K{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-vqtbIQ6K{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }


.clerk-design-component-hMnj5HN8{
    font-size:13px;
    min-height:30px;
    color:#1e3147;
    font-weight:normal;
    text-align:center;
    overflow:hidden;
    height:;
    background-color:;
    justify-content:center;
    display:flex;
    align-items:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-hMnj5HN8{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-hMnj5HN8{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }


.clerk-design-component-c4AxTsnq{
    font-size:inherit;
    color:#1e3147;
    height:;
    overflow:hidden;
    font-weight:normal;
    display:flex;
    text-align:center;
    background-color:;
    justify-content:center;
    align-items:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-c4AxTsnq{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-c4AxTsnq{
    background-color:;
    color:;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size:inherit;
}
 }


.clerk-design-component-KEJKjH8j{
    text-align:center;
}
 @media screen and (max-width: 480px) {
 .clerk-design-component-KEJKjH8j{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-KEJKjH8j{
}
 }


.clerk-design-component-glSls6gD{
    text-align:center;
}
 @media screen and (max-width: 480px) {
 .clerk-design-component-glSls6gD{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-glSls6gD{
}
 }


.clerk-design-component-iBF2ROE6{
    text-align:left;
    color:#1e3147;
    display:inline;
    font-size:inherit;
    font-weight:normal;
    overflow:hidden;
    height:;
    source:undefined;
    text:undefined;
    anchor:undefined;
    background-color:;
    vertical-align:center;
max-width: 100%;}
 @media screen and (max-width: 480px) {
 .clerk-design-component-iBF2ROE6{
    source:undefined;
    text:undefined;
    anchor:undefined;
    background-color:;
    color:;
    text-align:center;
    vertical-align:center;
    font-size:inherit;
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-iBF2ROE6{
    source:undefined;
    text:undefined;
    anchor:undefined;
    background-color:;
    color:;
    text-align:center;
    vertical-align:center;
    font-size:inherit;
}
 }


.clerk-design-component-Y5uOlTsm{
    color:#1e3147;
    width:80%;
    padding-bottom:30px;
    padding-top:30px;
    font-family:sans-serif;
    margin:auto;
    background-color:#ffffff;
}
 @media screen and (max-width: 480px) {
 .clerk-design-component-Y5uOlTsm{
}
 }
 @media screen and (min-width: 481px) and (max-width: 800px) {
 .clerk-design-component-Y5uOlTsm{
}
 }


